body {
  background: linear-gradient(to right, #ffebee, #e3f2fd);
  color: #444; /* neutralny kolor tekstu */
}
h1 {
  color: purple; /* kompromis */
}
body.dark {
  background-color: #111;
  color: white;
}
